th {
  font-weight: 700;
}

.gdoc-brand {
  visibility: hidden;
}

.gdoc-brand__img {
  visibility: visible !important;
  width: auto;
}

.case {
  /*! table-layout: fixed; */
  border: 2px solid black;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
  border-radius: 1em;
  border-collapse: separate !important;
  overflow: hidden !important;
}
.case-header {
  color: #fff;
  background-color: var(--header-background) !important;
  font-weight: 700;
}

.requirement {
  /*! table-layout: fixed; */
  border: 2px solid black;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
  border-radius: 1em;
  border-collapse: separate !important;
  overflow: hidden !important;
}
.requirement-header {
  color: #fff;
  background-color: var(--header-background) !important;
  font-weight: 700;
}
